<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.davi_server.molit.repository.SiGunGuRepository">
    <select id="selectSampleList" resultType="com.davi_server.molit.dto.SiGunGuDto">
        SELECT
            *
        FROM
            dv_molit_si_gun_gu
        limit 10
    </select>

    <select id="selectList" parameterType="map" resultType="com.davi_server.molit.dto.SiGunGuDto">
        SELECT
            *
        FROM
            dv_molit_si_gun_gu
        <where>
            <if test='fullNm != null and fullNm != ""'>
            AND full_nm LIKE CONCAT('%', #{fullNm}, '%')
            </if>
        </where>
    </select>
</mapper>