<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.davi_server.khoa.repository.HangRepository">
    <select id="selectSampleList" resultType="com.davi_server.khoa.dto.HangDto">
        SELECT
            *
        FROM
            dv_khoa_hang
                limit 2000
    </select>

    <select id="selectList" resultType="com.davi_server.khoa.dto.HangDto">
        SELECT
            *
        FROM
            dv_khoa_hang
                limit 1000
    </select>

    <select id="selectClickPosList" resultType="com.davi_server.khoa.dto.HangDto">
        SELECT
            *
        FROM
            dv_khoa_hang
        WHERE



    </select>
</mapper>